.top-header {
   text-align: left;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}
.logo-box {
  margin-bottom: 2rem;
}
.nav {
  margin: 0;
  @include display(flex);

  @include e(item) {
    display: inline;
    padding: rem(12px) rem(10px);
    background: $white;
    color: $color;
    border-bottom: 0;
  }
}

.right-box__input{
  @include display (flex);
  @include flex-direction (row);
  width: 320px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b4c1c4;
  margin-top: 30px;
  color: $white;
}

.right-box__input1{

width: 100%;
  border-bottom: 1px solid #b4c1c4;
  margin-bottom: rem(15px);
}
.services-box {

  @include display(flex);
  @include justify-content(space-between);
@include flex-direction(row);
  @include e(item) {
    @include display(flex);
    @include flex-direction(column);
    margin-right: rem(50px);
    text-align: center;
  }
  @include e(content) {
    max-width: rem(255px);
    text-align: center;
    margin-bottom: rem(100px);
    color: $grayContent;
    font-size: rem(12px);
    font-family: $fontFamily;
  }
}
.contact-box{
  @include display (flex);
  @include flex-direction(row);
  margin-top: rem(80px);
}
.lab{
  @include display (flex);
}

.nav2{
  margin-bottom: rem(110px);
  margin-left:rem(360px);
}

.nav__item2{
  text-decoration: none;
  color: $white;
  margin-left: rem(35px);
  font-size: rem(18px);
  font-family: $fontFamily;
}
input[type='text'] {
  padding: 60px 10px;
}

.footer-title{
 @include display (flex);
  @include justify-content (space-between);
}


.brands-box{
  display: block;

}
.brands-img{
  width: 10.33333%;
  margin-left: rem(60px);
}

.photo__img{
  max-width: 100%;
}
.gallery-content {
  border: 1px solid $grayborder;
  background-color: $grayborder;
  max-width: 100%;
}
.sl-text{
  text-align: center;
}

.sl-content{
  text-align: center;
  max-width: 350px;
  margin-bottom: rem(45px);
  margin-left: 400px;
}

#flavor-nav {
  display: block;

  color: $graylink;
  text-transform: uppercase;
  font-size: rem(14px);
  margin-left: rem(55px);
  margin-bottom: rem(50px);
  border-top: 2px solid transparent;
  text-align: center;
}

.nav__item1:hover{
  color: $linkblue;
  border-bottom: 1px solid $linkblue;
  padding-bottom: 10px;
  margin-bottom: -10px;

}


.nav__item1{
  color: $graylink;
  text-transform: uppercase;
  font-size: rem(14px);
  margin-left: rem(55px);
  margin-bottom: rem(50px);
  border-top: 2px solid transparent;

}

.slider-img{
  margin-left: rem(-67px);
  border-radius: 60px;
  margin-bottom: rem(50px);
}
