//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat|Open+Sans:300,400,600|Source+Sans+Pro:600';

$fontFamily: 'Open Sans', sans-serif;
$font:'Lora';
$family:'Montserrat';
$fonts:'Source Sans Pro';

$baseFontSize: 16px;


$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors
$lineGray:#61656f;
$color: #444444;
$gray: #e0e1e3;
$grayContact: #ecf0f1;
$grayContent:#cccccc;
$footerBgColor: #2d3e50;
$red: #ff0000;
$green: #16a086;
$bgButton: #1bbc9b;
$black: #000000;
$white: #ffffff;
$blue:#00a5ff;
$lightBlack:#3a3f4b;
$graylink:#999999;
$grayborder:#f4f5f9;
$graybg:#f5f6f8;
$bluelink:#83d0fb;
$bgblack:#3b404c;
$linkblue:#21b0fe;
