.footer-title{
  display: block;

}
.footer-content{
  margin-top: rem(40px);
  color: $graylink;
  font-family: $family;
  font-size: rem(12px);
}
.footer-link{
  margin-top: rem(30px);
  margin-bottom: rem(30px);
  margin-left: rem(5px);
}
